{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>commentpage</title>
    <link rel="stylesheet" href="{% static 'css/commentpage.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap"
        rel="stylesheet" />
</head>

<body>
<nav>
            <div class="nav-item">
                <a href="{%url 'initial' %}"><img id="logo-img" src="{% static 'img/logo.png' %}" alt="navbar 로고"></img></a>
            </div>
            <div class="nav-item">
                <a href="{%url 'blog:home'%}">
                    <div id="mainpage">MainPage</div>
                </a>
                <!-- 여기 mypage, login, logout url 바꿔주세요!-->
                {% if user.is_authenticated %}
                <a href="{%url 'myinfo' user.pk %}">
                    <div id="mypage">MyPage</div>
                </a>
                {% else %}
                <a href="{%url 'login' %}">
                    <div id="mypage">MyPage</div>
                </a>
                {% endif %}
            </div>
            <div class="nav-item">
                {% if user.is_authenticated %}
                <a href="{%url 'logout'%}">
                    <div id="logout">Log Out</div>
                </a>
                {% else %}
                <a href="{%url 'login'%}">
                    <div id="login">Log In</div>
                </a>
                {% endif %}
            </div>
        </nav>

    <wrapper>
        <div class="contest-info-container">
            <a href="{% url 'blog:home' %}"><img src="{% static 'img/back-icon.png' %}" alt="뒤로가기" class="back-icon-img"
                    onclick="goToMainPage()" /></a>
            <div class="category">기획/아이디어</div>
            <div class="contest-name">{{post.title}}</div>
        </div>

        <div class="post-container">
            <div id="post">
                <!-- 게시글(흰 박스) -->
                <div id="userinfo">
                    <a href="" class="profile-img"><img src="/media/{{ comment.writer.profile_img }}" alt="프로필" /></a>
                    <div>
                        <span>{{comment.writer}}</span>
                        <div class="posttime">{{comment.date}}</div>
                    </div>
                    <div class="grade-text"><!--평균 평점--></div>
                    <div class="grade"><!--3.5---></div>
                </div>
                <hr />
                <div class="content">{{comment.content}}</div>
                <hr />

                <!-- 평가 댓글 -->
                <div class="comment-container">
                    {% for review in reviews %}
                    <div id="comment">
                        <div class="comment-top">
                            <span>{{review.writer}}</span>
                            <!-- 평가자가 준 별점 만큼 별이 채워집니다 -->
                            <div class="rating">
                                <i class="rated__star fas fa-star"></i>
                                <i class="rated__star fas fa-star"></i>
                                <i class="rated__star far fa-star"></i>
                                <i class="rated__star far fa-star"></i>
                                <i class="rated__star far fa-star"></i>
                            </div>
                        </div>
                        <!-- 평가에 입력한 내용이 뜹니다 -->
                        <div class="comment-content">{{review.review}}</div>
                    </div>
                    {% endfor %}
                </div>
                <hr />
                <!-- 평가 입력창 -->
                <div id="input-comment">
                    <form method="post" action="{% url 'blog:comment_review' id=post.id comment_id=comment.id%}">
                        {% csrf_token %}
                        <div class="comment-top">
                            <!-- 현재 로그인 유저 -->
                            <span>{{request.user.username}}</span>
                            <!--여기가 별점 매기는...-->
                            <div class="rating" name="rating">
                                <div class="rating">
                                    <i class="ratingstar far fa-star"></i>
                                    <i class="ratingstar far fa-star"></i>
                                    <i class="ratingstar far fa-star"></i>
                                    <i class="ratingstar far fa-star"></i>
                                    <i class="ratingstar far fa-star"></i>
                                    <span class="ratingresult"></span>
                                    <input type="hidden" name="rating" id="rating_input">
                                </div>
                            </div>

                            <!-- 평가 코드 입력 -->
                            <!--<img src="{%static 'img/lock.png'%}" alt="lock-image" class="lock-image" />-->
                            <div class="code-input-text">평가 코드 입력</div>
                            <input type="password" class="code-input" name="review_pw" />
                        </div>
                        <div class="comment-bottom">
                            <input type="text" placeholder="내용을 입력하세요..." class="comment-input" name="review" />
                            <!-- 평가 등록 버튼 -->
                            <button type="submit">평가 완료</button>

                        </div>
                    </form>
                </div>
                <button>목록으로 돌아가기</button>
            </div>
        </div>
    </wrapper>
    <footer>
            <p class="footer">&copy; 2023 HERETHON 오디. STAR POOL ALL RIGHTS RESERVED.
            </p>
        </footer>

    <script src="{% static 'js/commentpage.js' %}">
    </script>
</body>

</html>