{% load static %}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title></title>
    <link href="{% static 'css/mainpage.css' %}" rel="stylesheet" />
</head>

<body>
    <div id="gridgrid">
        <!-- 이미지 사이즈 안됨-->
        <div class="grid-item {% cycle 'item1' 'item2' %}">
            <!--이미지 출력-->
            <!--div 클래스에 맞춤으로 사진 나오게 하는 방법 -->
            {% if post.image %}
            <img id="posterimg" src="{{ post.image.url}}" width="330" height="200">
            {% endif %}
        </div>
        <div id="gridsection">
            <a id="kind">기획/아이디어</a>
            <div id="title">
                <a href="{% url 'blog:detail' post.id %}">{{post.title}}</a>
            </div>
            <a id="num"><i class="fa-solid fa-align-left"></i>4</a>
            <a id="day"><i class="fa-regular fa-calendar-minus"></i> {{post.date}}</a>
        </div>
    </div>
</body>

</html>